@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-hanuman: "Hanuman", serif;
}

body {
  background-color: #f3ebdd;
  color: #36312d;
}
